name: Check code generation done

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  gen-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23.0'
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          version: "27.3"
      - name: Install dependencies
        run: |
          go install google.golang.org/protobuf/cmd/protoc-gen-go@v1.31.0 \
          & go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@v1.5.1
      - name: Tidy modules
        run: go mod tidy
      - name: Generate code
        run: make gen-all
      - name: Check diff
        run: |
          git add .
          git diff --cached --exit-code
