name: Lint

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - '**.go'
      - '.github/workflows/lint.yaml'
      - '.golangci.yaml'

jobs:
  actionlint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25.4'
      - name: Download dependencies
        run: go mod tidy
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.6.2
